<template>
  <v-container>
    <v-flex>
      <v-card>
      </v-card>
    </v-flex>
  </v-container>
</template>

<script>
export default {
  name: "userDetailsView",
  props: {
    id: String
  },
  data() {
    return {
      //
    };
  }
};
</script>
